 <!-- Header and Nav -->
<div data-magellan-expedition="fixed">
<div class="contain-to-grid">
<nav class="top-bar" data-topbar>
<ul class="title-area">
    <li class="name">
      <h1><a href="#">Account Hero</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
      <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"></li>
      <li class="has-dropdown">
        <a href="#">Marc Boanas</a>
        <ul class="dropdown">
          <li><a href="#">Sign Out</a></li>
        </ul>
      </li>
    </ul>
  
  
  

    <!-- Left Nav Section -->
    <ul class="left show-for-medium-up">
    <dl class="sub-nav" style="padding: 10px 0 0 80px;">
        <dd data-magellan-arrival="business_information" class="active"><a href="#business_information">Business Information</a>
        </dd>
        <dd data-magellan-arrival="income"><a href="#income">Income</a>
        </dd>
        <dd data-magellan-arrival="expenses"><a href="#expenses">Expenses</a>
        </dd>
        <dd data-magellan-arrival="other_income"><a href="#other_income">Other Income</a>
        </dd>
    </dl>
    </ul>
  <nav>
</div>
</div>
<!-- End Header and Nav -->